/* Reset body and html margins */
body, html {
    margin: 0;                    /* Remove default margins */
    padding: 0;                   /* Remove default paddings */
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;                    /* Full width */
    z-index: 1000;                /* Ensure it's on top of other elements */
    display: flex;
    align-items: center;            /* Center items vertically */
    justify-content: space-between; /* Space between items */
    padding: 5px 10px;            /* Adjusted padding for better spacing */
    border: 1px solid rgba(211, 211, 211, 0.5); /* Light grey border */
    border-radius: 8px;           /* Rounded corners */
    box-shadow: 0 4px 4px rgba(211, 211, 211, 0.5); /* Shadow effect */
    margin-left: 35px;
    backdrop-filter: blur(10px);  /* Blur effect for background */
    background: transparent;     
}

/* Styling for each navigation link */
.nav-item {
    flex: 1;                        /* Make each nav item take equal width */
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;            
    transition: color 0.3s ease;
    padding: 15px 0;
}

.nav-item:hover {
    color: white;                 /* Change color on hover */
}

/* Style for the logo image */
.logo {
    margin-right: auto;             /* Push nav items to the right */
}

.logo img {
    height: 80px;                   /* Adjust logo height */
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-item {
        font-size: 1.5rem;          /* Decrease font size for smaller screens */
        padding: 10px 0;            /* Adjust padding for smaller screens */
    }

    .header {
        flex-direction: row;      /* Stack items vertically on small screens */
        align-items: flex-start;     /* Align items to the start */
        padding: 10px;               /* Add more padding */
    }

    .logo img {
        height: 60px;                /* Reduce logo size for smaller screens */
    }
}

@media (max-width: 480px) {
    .header {
        padding: 5px;                /* Further reduce padding */
    }

    .nav-item {
        font-size: 1.2rem;           /* Further decrease font size */
        padding: 8px 0;              /* Adjust padding */
    }
}